body {
  font-size: 100%;
}

* {
  font-family: 'PT Sans', sans-serif;
}

#heading1 {
  font-family: 'Black Han Sans', sans-serif;
  color: rgb(237,95,94);
  font-size: 8rem;
  text-align: center;
}

.heading2 {
  color: rgb(156, 156, 156);
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2.5rem;
  margin-top: 10%;
}

#heading3 {
  font-family: 'Black Han Sans', sans-serif;
  color: rgb(237,95,94);
  font-size: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

li {
  padding: 3px;
  margin: 3px;
  font-size: 120%;
  color: rgb(116, 116, 116);
}

#burgerimage {
  height: 30rem;
}

.addburger {
  display: block;
  text-align: center;
 
}

.navbar-fixed-bottom {
  width: 100%;
  margin-left: 0;
  background-color: rgb(245, 243, 243);
  text-align: center;
}